<div class="container">
<h2>Chat History</h2>

<% @messages.each do |message| %>
  <p><strong><%= message.role.capitalize %>:</strong> <%= message.content %></p>
<% end %>

<%= link_to "Ask Another Question", new_message_path %>
<%= button_to "Clear Chat", clear_messages_path, method: :delete, data: { confirm: "Are you sure you want to clear the chat?" } %>


</div>
