<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to "Users", "#", class: "nav-link text-dark" %>
  </li>
  <li class="nav-item">
    <%= link_to "Tickets", "#", class: "nav-link text-dark" %>
  </li>
  <li class="nav-item">
    <%= link_to "Company Details", "#", class: "nav-link text-dark" %>
  </li>
</ul>
<!-- Chevron icon for closing -->
<a href="#" class="nav-link text-dark" data-action="click->toggle#call" id="close-sidebar">
  <i class="fa-solid fa-chevron-left"></i> <!-- left chevron for close -->
</a>
