<div class="card mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= company.name %></h5>
    <p class="card-text"><%= company.territory %></p>
    <%= link_to 'Show this company', company_path(company), class: "btn btn-primary" %>
  </div>
</div>
